html, body {
  margin: 0;
  padding: 0;
  background-color: brown;
}

#root {
  position: relative;
  width: 800px;
  height: 600px;
  font-size: 20px;
}

.main-game {
  position: absolute;
  background-color: blue;
  height: 100%;
  width: 100%;
}

.menu-background {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.menu-button {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.menu-background-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

.main-menu {
  position: absolute;
  height: 50%;
  width: 50%;
  left: 25%;
  top: 25%;
  background-color: green;
}

.view-port {
  position: absolute;
  width: 50%;
  height: 60%;
  background-color: white;
}

.text-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.text-click-mask {
  position: absolute;
  height: 60%;
  width: 100%;
  opacity: 0;
}

.text-area {
  position: absolute;
  top: 60%;
  height: 40%;
  width: 100%;
  background-color: orange;
}

.item-list-container {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 60%;
}

.prev {
  position: absolute;
  left: 50px;
  bottom: 10px;
}

.next {
  position: absolute;
  right: 50px;
  bottom: 10px;
}

.bottom-content {
  position: absolute;
  top: 60%;
  height: 40%;
  width: 100%;
  background-color: gray;
}
