html, body {
  margin: 0;
  padding: 0;
  background-color: brown;
}

#root {
  width: 800px;
  height: 600px;
  font-size: 20px;
}

.main-game {
  position: relative;
  background-color: blue;
  height: 100%;
  width: 100%;
}

.main-menu {
  background-color: green;
  height: 100%;
  width: 100%;
}

.view-port {
  position: absolute;
  width: 50%;
  height: 60%;
  background-color: white;
}

.item-list-container {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 60%;
}

.prev {
  position: absolute;
  left: 50px;
  bottom: 10px;
}

.next {
  position: absolute;
  right: 50px;
  bottom: 10px;
}

.bottom-content {
  position: absolute;
  top: 60%;
  height: 40%;
  width: 100%;
  background-color: gray;
}
