.adminContainer {
  height: 100%;
  position: relative;
}

.leftColumn {
  float: left;
  display: inline;
  width: 40%;
  height: 100%;
}

.gameWrapper {
  height: 100%;
  margin: 10px;
}

.rightColumn {
  position: absolute;
  float: left;
  display: inline;
  height: 100%;
}
